doctype html
html.no-js(lang='zxx')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		title Course Details 2 | Edurock - Education LMS Template
		meta(name='description', content)
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
		//  Place favicon.ico in the root directory 
		//  CSS here 
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/animate.min.css')
		link(rel='stylesheet', href='css/aos.min.css')
		link(rel='stylesheet', href='css/magnific-popup.css')
		link(rel='stylesheet', href='css/icofont.min.css')
		link(rel='stylesheet', href='css/slick.css')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
		link(rel='stylesheet', href='css/style.min.css')
		script.
			
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
			          document.documentElement.classList.add("is_dark");
			        } 
			        if (localStorage.getItem("theme-color") === "light") {
			          document.documentElement.classList.remove("is_dark");
			        }
			
	body.body__wrapper
		//  pre loader area start 
		#back__preloader
			#back__circle_loader
			.back__loader_logo
				img(src='img/pre.png', alt='Preload')
		//  pre loader area end 
		//  Dark/Light area start 
		.mode_switcher.my_switcher
			button#light--to-dark-button.light.align-items-center
				svg.ionicon.dark__mode(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
					path(d='M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z', fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='32')
				svg.ionicon.light__mode(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
					path(fill='none', stroke='currentColor', stroke-linecap='round', stroke-miterlimit='10', stroke-width='32', d='M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94')
					circle(cx='256', cy='256', r='80', fill='none', stroke='currentColor', stroke-linecap='round', stroke-miterlimit='10', stroke-width='32')
				span.light__mode Light
				span.dark__mode Dark
		//  Dark/Light area end 
		main.main_wrapper.overflow-hidden
			//  topbar__section__stert 
			.topbararea
				.container
					.row
						.col-xl-6.col-lg-6
							.topbar__left
								ul
									li.
										
										Call Us: +1 800 123 456 789
										
									li.
										
										- Mail Us: Itcroc@mail.com
										
						.col-xl-6.col-lg-6
							.topbar__right
								.topbar__icon
									i.icofont-location-pin
								.topbar__text
									p 684 West College St. Sun City, USA
								.topbar__list
									ul
										li
											a(href='#')
												i.icofont-facebook
										li
											a(href='#')
												i.icofont-twitter
										li
											a(href='#')
												i.icofont-instagram
										li
											a(href='#')
												i.icofont-youtube-play
			//  topbar__section__end 
			//  headar section start 
			header
				.headerarea.headerarea__3.header__sticky.header__area
					.container.desktop__menu__wrapper
						.row
							.col-xl-2.col-lg-2.col-md-6
								.headerarea__left
									.headerarea__left__logo
										a(href='index.html')
											img(src='img/logo/logo_1.png', alt='logo')
							.col-xl-7.col-lg-7.main_menu_wrap
								.headerarea__main__menu
									nav
										ul
											li.mega__menu.position-static
												a.headerarea__has__dropdown(href='index.html')
													| Demos
													i.icofont-rounded-down
													|  
												.headerarea__submenu.mega__menu__wrapper.mega__menu__grid__5
													ul.nav.tab__button__wrap#myTab2(role='tablist')
														li.nav-item(role='presentation')
															button.single__tab__link.active(data-bs-toggle='tab', data-bs-target='#projects__light', type='button') Light
														li.nav-item(role='presentation')
															button.single__tab__link(data-bs-toggle='tab', data-bs-target='#projects__dark', type='button') Dark
													.tab-content.tab__content__wrapper#myTabContent2
														.tab-pane.fade.active.show#projects__light(role='tabpanel', aria-labelledby='projects__light')
															.row
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='index.html')
																			img(src='img/mega/home-1.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Default)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-2.html')
																			img(src='img/mega/home-2.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Elegant)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-3.html')
																			img(src='img/mega/home-3.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Classic)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-4.html')
																			img(src='img/mega/home-4.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Classic LMS)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-5.html')
																			img(src='img/mega/home-5.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Online Course)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-6.html')
																			img(src='img/mega/home-6.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Marketplace)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-7.html')
																			img(src='img/mega/home-7.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (University)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-8.html')
																			img(src='img/mega/home-8.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (eCommerce)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-9.html')
																			img(src='img/mega/home-9.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Kindergarten)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-10.html')
																			img(src='img/mega/home-10.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Machine Learning)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-11.html')
																			img(src='img/mega/home-11.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Single Course)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming.png', alt='Mega Menu 1')
																			span.mega__menu__thumb__title Layout Coming Soon 1
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming.png', alt='Mega Menu 2')
																			span.mega__menu__thumb__title Layout Coming Soon 2
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming.png', alt='Mega Menu 3')
																			span.mega__menu__thumb__title Layout Coming Soon 3
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming.png', alt='Mega Menu 4')
																			span.mega__menu__thumb__title Layout Coming Soon 4
														.tab-pane.fade#projects__dark(role='tabpanel', aria-labelledby='projects__dark')
															.row
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='index-dark.html')
																			img(src='img/mega/home-1-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Default)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-2-dark.html')
																			img(src='img/mega/home-2-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Elegant)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-3-dark.html')
																			img(src='img/mega/home-3-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Classic)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-4-dark.html')
																			img(src='img/mega/home-4-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Classic LMS)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-5-dark.html')
																			img(src='img/mega/home-5-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Online Course)
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-6-dark.html')
																			img(src='img/mega/home-6-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Marketplace)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-7-dark.html')
																			img(src='img/mega/home-7-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (University)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-8-dark.html')
																			img(src='img/mega/home-8-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (eCommerce)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-9-dark.html')
																			img(src='img/mega/home-9-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Kindergarten)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-10-dark.html')
																			img(src='img/mega/home-10-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Machine Learning)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='home-11-dark.html')
																			img(src='img/mega/home-11-dark.png', alt='Mega Menu')
																			span.mega__menu__thumb__title Home (Single Course)
																		span.mega__menu__thumb__label New
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming-dark.png', alt='Mega Menu 1')
																			span.mega__menu__thumb__title Layout Coming Soon 1
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming-dark.png', alt='Mega Menu 2')
																			span.mega__menu__thumb__title Layout Coming Soon 2
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming-dark.png', alt='Mega Menu 3')
																			span.mega__menu__thumb__title Layout Coming Soon 3
																.col-3.mega__menu__single__wrap
																	.mega__menu__thumb
																		a(href='#')
																			img(src='img/mega/coming-dark.png', alt='Mega Menu 4')
																			span.mega__menu__thumb__title Layout Coming Soon 4
											li.mega__menu.position-static
												a.headerarea__has__dropdown(href='about.html')
													| Pages
													i.icofont-rounded-down
													|  
												.headerarea__submenu.mega__menu__wrapper
													.row
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 1
															ul.mega__menu__item
																li
																	a(href='about.html')
																		| About 
																		span.mega__menu__label Sale Everything
																li
																	a(href='about-dark.html')
																		| About (Dark)
																		span.mega__menu__label.new New
																li
																	a(href='blog.html') Blog
																li
																	a(href='blog-dark.html') Blog (Dark)
																li
																	a(href='blog-details.html') Blog Details
																li
																	a(href='blog-details-dark.html') Blog Details (Dark)
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 2
															ul.mega__menu__item
																li
																	a(href='error.html') Error 404
																li
																	a(href='error-dark.html') Error (Dark)
																li
																	a(href='event-details.html') Event Details
																li
																	a(href='zoom/zoom-meetings.html')
																		| Zoom
																		span.mega__menu__label Online Call
																li
																	a(href='zoom/zoom-meetings-dark.html') Zoom Meeting (Dark)
																li
																	a(href='zoom/zoom-meeting-details.html') Zoom Meeting Details
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 3
															ul.mega__menu__item
																li
																	a(href='zoom/zoom-meeting-details-dark.html') Meeting Details (Dark)
																li
																	a(href='login.html') Login
																li
																	a(href='login-dark.html') Login (Dark)
																li
																	a(href='#') Maintenance
																li
																	a(href='#') Maintenance (Dark)
																li
																	a(href='#') Terms & Condition
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 4
															ul.mega__menu__item
																li
																	a(href='#') Terms & Condition (Dark)
																li
																	a(href='#') Privacy Policy
																li
																	a(href='#') Privacy Policy (Dark)
																li
																	a(href='#') Success Stories
																li
																	a(href='#') Success Stories (Dark)
																li
																	a(href='#') Work Policy
														.col-12.mega__menu__single__wrap.sp_top_30
															.mega__menu__img
																a(href='#')
																	img(src='img/mega/mega_menu_2.png', alt='Mega Menu')
											li.mega__menu.position-static
												a.headerarea__has__dropdown(href='course.html')
													| Courses
													i.icofont-rounded-down
													|  
												.headerarea__submenu.mega__menu__wrapper
													.row
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 1
															ul.mega__menu__item
																li
																	a(href='course.html')
																		| Grid 
																		span.mega__menu__label All Courses
																li
																	a(href='course-dark.html') Course Grid (Dark)
																li
																	a(href='course-grid.html') Course Grid
																li
																	a(href='course-grid-dark.html') Course Grid (Dark)
																li
																	a(href='course-list.html') Course List
																li
																	a(href='course-list-dark.html') Course List (Dark)
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 2
															ul.mega__menu__item
																li
																	a(href='course-details.html') Course Details
																li
																	a(href='course-details-dark.html') Course Details (Dark)
																li
																	a(href='course-details-2.html') Course Details 2
																li
																	a(href='course-details-2-dark.html') Details 2 (Dark)
																li
																	a(href='course-details-3.html') Course Details 3
																li
																	a(href='course-details-3.html') Details 3 (Dark)
														.col-3.mega__menu__single__wrap
															h4.mega__menu__title
																a(href='#') Get Started 3
															ul.mega__menu__item
																li
																	a(href='dashboard/become-an-instructor.html') Become An Instructor
																li
																	a(href='dashboard/create-course.html')
																		| Create Course 
																		span.mega__menu__label Career
																li
																	a(href='instructor.html') Instructor
																li
																	a(href='instructor-dark.html') Instructor (Dark)
																li
																	a(href='instructor-details.html') Instructor Details
																li
																	a(href='lesson.html')
																		| Course Lesson
																		span.mega__menu__label.new New
														.col-3.mega__menu__single__wrap
															.mega__menu__img
																a(href='#')
																	img(src='img/mega/mega_menu_1.png', alt='Mega Menu')
											li
												a.headerarea__has__dropdown(href='dashboard/instructor-dashboard.html')
													| Dashboard

													i.icofont-rounded-down
												ul.headerarea__submenu.headerarea__submenu--third--wrap
													li
														a(href='../admin-dashboard.html')
															| Admin 
															i.icofont-rounded-right
														ul.headerarea__submenu--third
															li
																a(href='dashboard/admin-dashboard.html') Admin Dashboard
															li
																a(href='dashboard/admin-profile.html') Admin Profile
															li
																a(href='dashboard/admin-message.html') Message
															li
																a(href='dashboard/admin-course.html') Courses
															li
																a(href='dashboard/admin-reviews.html') Review
															li
																a(href='dashboard/admin-quiz-attempts.html') Admin Quiz
															li
																a(href='dashboard/admin-settings.html') Settings
													li
														a(href='dashboard/instructor-dashboard.html')
															| Instructor 
															i.icofont-rounded-right
														ul.headerarea__submenu--third
															li
																a(href='dashboard/instructor-dashboard.html') Inst. Dashboard
															li
																a(href='dashboard/instructor-profile.html') Inst. Profile
															li
																a(href='dashboard/instructor-message.html') Message
															li
																a(href='dashboard/instructor-wishlist.html') Wishlist
															li
																a(href='dashboard/instructor-reviews.html') Review
															li
																a(href='dashboard/instructor-my-quiz-attempts.html') My Quiz
															li
																a(href='dashboard/instructor-order-history.html') Order History
															li
																a(href='dashboard/instructor-course.html') My Courses
															li
																a(href='dashboard/instructor-announcments.html') Announcements
															li
																a(href='dashboard/instructor-quiz-attempts.html') Quiz Attempts
															li
																a(href='dashboard/instructor-assignments.html') Assignment
															li
																a(href='dashboard/instructor-settings.html') Settings
													li
														a(href='dashboard/student-dashboard.html')
															| Student 
															i.icofont-rounded-right
														ul.headerarea__submenu--third
															li
																a(href='dashboard/student-dashboard.html') Dashboard
															li
																a(href='dashboard/student-profile.html') Profile
															li
																a(href='dashboard/student-message.html') Message
															li
																a(href='dashboard/student-enrolled-courses.html') Enrolled Courses
															li
																a(href='dashboard/student-wishlist.html') Wishlist
															li
																a(href='dashboard/student-reviews.html') Review
															li
																a(href='dashboard/student-my-quiz-attempts.html') My Quiz
															li
																a(href='dashboard/student-assignments.html') Assignment
															li
																a(href='dashboard/student-settings.html') Settings
											li
												a.headerarea__has__dropdown(href='ecommerce/shop.html')
													| eCommerce

													i.icofont-rounded-down
												ul.headerarea__submenu
													li
														a(href='ecommerce/shop.html')
															| Shop
															span.mega__menu__label Online Store
													li
														a(href='ecommerce/product-details.html') Product Details
													li
														a(href='ecommerce/cart.html') Cart
													li
														a(href='ecommerce/checkout.html') Checkout
													li
														a(href='ecommerce/wishlist.html') Wishlist
							.col-xl-3.col-lg-3.col-md-6
								.headerarea__right
									.header__cart
										a(href='#')
											i.icofont-cart-alt
										.header__right__dropdown__wrapper
											.header__right__dropdown__inner
												.single__header__right__dropdown
													.header__right__dropdown__img
														a(href='#')
															img(src='img/grid/cart1.jpg', alt='photo')
													.header__right__dropdown__content
														a(href='shop-product.html') Web Directory
														p
															| 1 x 
															span.price $ 80.00
													.header__right__dropdown__close
														a(href='#')
															i.icofont-close-line
												.single__header__right__dropdown
													.header__right__dropdown__img
														a(href='#')
															img(src='img/grid/cart2.jpg', alt='photo')
													.header__right__dropdown__content
														a(href='shop-product.html') Design Minois
														p
															| 1 x 
															span.price $ 60.00
													.header__right__dropdown__close
														a(href='#')
															i.icofont-close-line
												.single__header__right__dropdown
													.header__right__dropdown__img
														a(href='#')
															img(src='img/grid/cart3.jpg', alt='photo')
													.header__right__dropdown__content
														a(href='shop-product.html') Crash Course
														p
															| 1 x 
															span.price $ 70.00
													.header__right__dropdown__close
														a(href='#')
															i.icofont-close-line
											p.dropdown__price
												| Total: 
												span $1,100.00
											.header__right__dropdown__button
												a.white__color(href='ecommerce/cart.html') View Cart
												a.blue__color(href='ecommerce/checkout.html') Checkout
									.headerarea__login
										a(href='login.html')
											i.icofont-user-alt-5
									.headerarea__button
										a(href='#') Get Start
					.container-fluid.mob_menu_wrapper
						.row.align-items-center
							.col-6
								.mobile-logo
									a.logo__dark(href='#')
										img(src='img/logo/logo_1.png', alt='logo')
							.col-6
								.header-right-wrap
									.headerarea__right
										.header__cart
											a(href='#')
												i.icofont-cart-alt
											.header__right__dropdown__wrapper
												.header__right__dropdown__inner
													.single__header__right__dropdown
														.header__right__dropdown__img
															a(href='#')
																img(src='img/grid/cart1.jpg', alt='photo')
														.header__right__dropdown__content
															a(href='shop-product.html') Web Directory
															p
																| 1 x 
																span.price $ 80.00
														.header__right__dropdown__close
															a(href='#')
																i.icofont-close-line
													.single__header__right__dropdown
														.header__right__dropdown__img
															a(href='#')
																img(src='img/grid/cart2.jpg', alt='photo')
														.header__right__dropdown__content
															a(href='shop-product.html') Design Minois
															p
																| 1 x 
																span.price $ 60.00
														.header__right__dropdown__close
															a(href='#')
																i.icofont-close-line
													.single__header__right__dropdown
														.header__right__dropdown__img
															a(href='#')
																img(src='img/grid/cart3.jpg', alt='photo')
														.header__right__dropdown__content
															a(href='shop-product.html') Crash Course
															p
																| 1 x 
																span.price $ 70.00
														.header__right__dropdown__close
															a(href='#')
																i.icofont-close-line
												p.dropdown__price
													| Total: 
													span $1,100.00
												.header__right__dropdown__button
													a.white__color(href='#') VIEW CART
													a.blue__color(href='#') CHECKOUT
									.mobile-off-canvas
										a.mobile-aside-button(href='#')
											i.icofont-navigation-menu
			//  header section end 
			//  Mobile Menu Start Here 
			.mobile-off-canvas-active
				a.mobile-aside-close
					i.icofont.icofont-close-line
				.header-mobile-aside-wrap
					.mobile-search
						form.search-form(action='#')
							input(type='text', placeholder='Search entire store…')
							button.button-search
								i.icofont.icofont-search-2
					.mobile-menu-wrap.headerarea
						.mobile-navigation
							nav
								ul.mobile-menu
									li.menu-item-has-children
										a(href='index.html') Home
										ul.dropdown
											li.menu-item-has-children
												a(href='index.html') Homes Light
												ul.dropdown
													li
														a(href='index.html') Home (Default)
													li
														a(href='home-2.html') Elegant
													li
														a(href='home-3.html') Classic
													li
														a(href='home-4.html') Classic LMS
													li
														a(href='home-5.html') Online Course
													li
														a(href='home-6.html') Marketplace
													li
														a(href='home-7.html') University
													li
														a(href='home-8.html') eCommerce
													li
														a(href='home-9.html') Kindergarten
													li
														a(href='home-10.html') Machine Learning
													li
														a(href='home-11.html') Single Course
											li.menu-item-has-children
												a(href='index.html') Homes Dark
												ul.dropdown
													li
														a(href='index-dark.html') Home Default (Dark)
													li
														a(href='home-2-dark.html') Elegant (Dark)
													li
														a(href='home-3-dark.html') Classic (Dark)
													li
														a(href='home-4-dark.html') Classic LMS (Dark)
													li
														a(href='home-5-dark.html') Online Course (Dark)
													li
														a(href='home-6-dark.html') Marketplace (Dark)
													li
														a(href='home-7-dark.html') University (Dark)
													li
														a(href='home-8-dark.html') eCommerce (Dark)
													li
														a(href='home-9-dark.html') Kindergarten (Dark)
													li
														a(href='home-10-dark.html') Kindergarten (Dark)
													li
														a(href='home-11-dark.html') Single Course (Dark)
									li.menu-item-has-children
										a(href='#') Pages
										ul.dropdown
											li.menu-item-has-children
												a(href='#') Get Started 1
												ul.dropdown
													li
														a(href='about.html') About
													li
														a(href='about-dark.html')
															| About (Dark)
															span.mega__menu__label.new New
													li
														a(href='blog.html') Blog
													li
														a(href='blog-dark.html') Blog (Dark)
													li
														a(href='blog-details.html') Blog Details
													li
														a(href='blog-details-dark.html') Blog Details (Dark)
											li.menu-item-has-children
												a(href='#') Get Started 2
												ul.dropdown
													li
														a(href='error.html') Error 404
													li
														a(href='error-dark.html') Error (Dark)
													li
														a(href='event-details.html') Event Details
													li
														a(href='zoom/zoom-meetings.html')
															| Zoom
															span.mega__menu__label Online Call
													li
														a(href='zoom/zoom-meetings-dark.html') Zoom Meeting (Dark)
													li
														a(href='zoom/zoom-meeting-details.html') Zoom Meeting Details
											li.menu-item-has-children
												a(href='#') Get Started 3
												ul.dropdown
													li
														a(href='zoom/zoom-meeting-details-dark.html') Meeting Details (Dark)
													li
														a(href='login.html') Login
													li
														a(href='login-dark.html') Login (Dark)
													li
														a(href='#') Maintenance
													li
														a(href='#') Maintenance (Dark)
													li
														a(href='#') Terms & Condition
											li.menu-item-has-children
												a(href='#') Get Started 4
												ul.dropdown
													li
														a(href='#') Terms & Condition (Dark)
													li
														a(href='#') Privacy Policy
													li
														a(href='#') Privacy Policy (Dark)
													li
														a(href='#') Success Stories
													li
														a(href='#') Success Stories (Dark)
													li
														a(href='#') Work Policy
											li.menu-item-has-children
												.mega__menu__img
													a(href='#')
														img(src='img/mega/mega_menu_2.png', alt='Mega Menu')
									li.menu-item-has-children
										a(href='course.html') Courses
										ul.dropdown
											li.menu-item-has-children
												a(href='#') Get Started 1
												ul.dropdown
													li
														a(href='course.html')
															| Grid 
															span.mega__menu__label All Courses
													li
														a(href='course-dark.html') Course Grid (Dark)
													li
														a(href='course-grid.html') Course Grid
													li
														a(href='course-grid-dark.html') Course Grid (Dark)
													li
														a(href='course-list.html') Course List
													li
														a(href='course-list-dark.html') Course List (Dark)
											li.menu-item-has-children
												a(href='#') Get Started 2
												ul.dropdown
													li
														a(href='course-details.html') Course Details
													li
														a(href='course-details-dark.html') Course Details (Dark)
													li
														a(href='course-details-2.html') Course Details 2
													li
														a(href='course-details-2-dark.html') Details 2 (Dark)
													li
														a(href='course-details-3.html') Course Details 3
													li
														a(href='course-details-3.html') Details 3 (Dark)
											li.menu-item-has-children
												a(href='#') Get Started 3
												ul.dropdown
													li
														a(href='dashboard/become-an-instructor.html') Become An Instructor
													li
														a(href='dashboard/create-course.html')
															| Create Course 
															span.mega__menu__label Career
													li
														a(href='instructor.html') Instructor
													li
														a(href='instructor-dark.html') Instructor (Dark)
													li
														a(href='instructor-details.html') Instructor Details
													li
														a(href='lesson.html')
															| Course Lesson
															span.mega__menu__label.new New
											li.menu-item-has-children
												.mega__menu__img
													a(href='#')
														img(src='img/mega/mega_menu_1.png', alt='Mega Menu')
									li.menu-item-has-children
										a(href='dashboard/admin-dashboard.html') Dashboard
										ul.dropdown
											li.menu-item-has-children
												a(href='#') Admin
												ul.dropdown
													li
														a(href='dashboard/admin-dashboard.html') Admin Dashboard
													li
														a(href='dashboard/admin-profile.html') Admin Profile
													li
														a(href='dashboard/admin-message.html') Message
													li
														a(href='dashboard/admin-course.html') Courses
													li
														a(href='dashboard/admin-reviews.html') Review
													li
														a(href='dashboard/admin-quiz-attempts.html') Admin Quiz
													li
														a(href='dashboard/admin-settings.html') Settings
											li.menu-item-has-children
												a(href='#') Instructor
												ul.dropdown
													li
														a(href='dashboard/instructor-dashboard.html') Inst. Dashboard
													li
														a(href='dashboard/instructor-profile.html') Inst. Profile
													li
														a(href='dashboard/instructor-message.html') Message
													li
														a(href='dashboard/instructor-wishlist.html') Wishlist
													li
														a(href='dashboard/instructor-reviews.html') Review
													li
														a(href='dashboard/instructor-my-quiz-attempts.html') My Quiz
													li
														a(href='dashboard/instructor-order-history.html') Order History
													li
														a(href='dashboard/instructor-course.html') My Courses
													li
														a(href='dashboard/instructor-announcments.html') Announcements
													li
														a(href='dashboard/instructor-quiz-attempts.html') Quiz Attempts
													li
														a(href='dashboard/instructor-assignments.html') Assignment
													li
														a(href='dashboard/instructor-settings.html') Settings
											li.menu-item-has-children
												a(href='#') Student
												ul.dropdown
													li
														a(href='dashboard/student-dashboard.html') Dashboard
													li
														a(href='dashboard/student-profile.html') Profile
													li
														a(href='dashboard/student-message.html') Message
													li
														a(href='dashboard/student-enrolled-courses.html') Enrolled Courses
													li
														a(href='dashboard/student-wishlist.html') Wishlist
													li
														a(href='dashboard/student-reviews.html') Review
													li
														a(href='dashboard/student-my-quiz-attempts.html') My Quiz
													li
														a(href='dashboard/student-assignments.html') Assignment
													li
														a(href='dashboard/student-settings.html') Settings
									li.menu-item-has-children
										a(href='ecommerce/shop.html') eCommerce
										ul.dropdown
											li
												a(href='ecommerce/shop.html')
													| Shop
													span.mega__menu__label Online Store
											li
												a(href='ecommerce/product-details.html') Product Details
											li
												a(href='ecommerce/cart.html') Cart
											li
												a(href='ecommerce/checkout.html') Checkout
											li
												a(href='ecommerce/wishlist.html') Wishlist
					.mobile-curr-lang-wrap
						.single-mobile-curr-lang
							a.mobile-language-active(href='#')
								| Language 
								i.icofont-thin-down
							.lang-curr-dropdown.lang-dropdown-active
								ul
									li
										a(href='#') English (US)
									li
										a(href='#') English (UK)
									li
										a(href='#') Spanish
						//
							 <div class="single-mobile-curr-lang">
							                                <a class="mobile-currency-active" href="#">Currency <i class="icofont-thin-down"></i></a>
							                                <div class="lang-curr-dropdown curr-dropdown-active">
							                                    <ul>
							                                        <li><a href="#">USD</a></li>
							                                        <li><a href="#">EUR</a></li>
							                                        <li><a href="#">Real</a></li>
							                                        <li><a href="#">BDT</a></li>
							                                    </ul>
							                                </div>
							                            </div> 
						.single-mobile-curr-lang
							a.mobile-account-active(href='#')
								| My Account 
								i.icofont-thin-down
							.lang-curr-dropdown.account-dropdown-active
								ul
									li
										a(href='login.html') Login
									li
										a(href='login.html') / Create Account
									li
										a(href='login.html') My Account
					.mobile-social-wrap
						a.facebook(href='#')
							i.icofont.icofont-facebook
						a.twitter(href='#')
							i.icofont.icofont-twitter
						a.pinterest(href='#')
							i.icofont.icofont-pinterest
						a.instagram(href='#')
							i.icofont.icofont-instagram
						a.google(href='#')
							i.icofont.icofont-youtube-play
			//  Mobile Menu end Here 
			//  theme fixed shadow 
			div
				.theme__shadow__circle
				.theme__shadow__circle.shadow__right
			//  theme fixed shadow 
			//  breadcrumbarea__section__start 
			.breadcrumbarea.breadcrumbarea--2
				.container
					.row
						.col-xl-8
							.breadcrumb__content__wraper(data-aos='fade-up')
								.breadcrumb__inner.text-start
									ul
										li
											a(href='index.html') Home
										li Course-Details 2
							.course__details__top--2
								.course__button__wraper(data-aos='fade-up')
									.course__button
										a(href='#') Featured
										a.course__2(href='#') Ux Design
								.course__details__heading(data-aos='fade-up')
									h3 Making Music with Other People
								.course__details__price(data-aos='fade-up')
									ul
										li
											.course__details__date
												i.icofont-book-alt
												|  23 Lesson

										li
											.course__star
												i.icofont-star
												i.icofont-star
												i.icofont-star
												i.icofont-star
												i.icofont-star
												span (44)
										li
											.course__date
												p
													| Last Update:
													span  Sep 29, 2023
				.shape__icon__2
					img.shape__icon__img.shape__icon__img__1(src='img/herobanner/herobanner__1.png', alt='photo')
					img.shape__icon__img.shape__icon__img__2(src='img/herobanner/herobanner__2.png', alt='photo')
					img.shape__icon__img.shape__icon__img__3(src='img/herobanner/herobanner__3.png', alt='photo')
					img.shape__icon__img.shape__icon__img__4(src='img/herobanner/herobanner__5.png', alt='photo')
			//  breadcrumbarea__section__end
			.blogarea__2.sp_top_100.sp_bottom_100
				.container
					.row
						.col-xl-8.col-lg-8
							.blog__details__content__wraper
								.course__details__tab__wrapper(data-aos='fade-up')
									.row
										.col-xl-12
											ul.nav.course__tap__wrap#myTab(role='tablist')
												li.nav-item(role='presentation')
													button.single__tab__link(data-bs-toggle='tab', data-bs-target='#projects__two', type='button')
														i.icofont-book-alt
														| Curriculum
												li.nav-item(role='presentation')
													button.single__tab__link.active(data-bs-toggle='tab', data-bs-target='#projects__one', type='button')
														i.icofont-paper
														| Description
												li.nav-item(role='presentation')
													button.single__tab__link(data-bs-toggle='tab', data-bs-target='#projects__three', type='button')
														i.icofont-star
														| Reviews
												li.nav-item(role='presentation')
													button.single__tab__link(data-bs-toggle='tab', data-bs-target='#projects__four', type='button')
														i.icofont-teacher
														| Instructor
									.tab-content.tab__content__wrapper#myTabContent
										.tab-pane.fade#projects__two(role='tabpanel', aria-labelledby='projects__two')
											.accordion.content__cirriculum__wrap#accordionExample
												.accordion-item
													h2.accordion-header#headingOne
														button.accordion-button(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
															| Intro Course content 
															span 02hr 35min
													#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordionExample')
														.accordion-body
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	span.time
																		i.icofont-clock-time
																		|  22 minutes
																	a(href='lesson.html')
																		span.question
																			i.icofont-eye
																			|  Preview
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	span.time
																		i.icofont-clock-time
																		|  05 minutes
																	a(href='lesson.html')
																		span.question
																			i.icofont-eye
																			|  Preview
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 10 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 15 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 08 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-file-text
																	h5
																		span Lesson 03 Exam :
																.scc__meta
																	span
																		i.icofont-lock
																		|  20 Ques
												.accordion-item
													h2.accordion-header#headingTwo
														button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
															| Course Fundamentals 
															span 1hr 35min
													#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionExample')
														.accordion-body
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 22 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 05 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 10 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 15 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 08 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-file-text
																	h5
																		span Lesson 03 Exam :
																.scc__meta
																	span
																		i.icofont-lock
																		|  20 Ques
												.accordion-item
													h2.accordion-header#headingThree
														button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
															| Course Core Concept 
															span 3hr 10min
													#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionExample')
														.accordion-body
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 22 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 05 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 10 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 15 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 08 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-file-text
																	h5
																		span Lesson 03 Exam :
																.scc__meta
																	span
																		i.icofont-lock
																		|  20 Ques
												.accordion-item
													h2.accordion-header#headingFour
														button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
															| Course Key Features 
															span 2hr 10min
													#collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionExample')
														.accordion-body
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 22 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 05 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 10 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 15 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 08 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-file-text
																	h5
																		span Lesson 03 Exam :
																.scc__meta
																	span
																		i.icofont-lock
																		|  20 Ques
												.accordion-item
													h2.accordion-header#headingFive
														button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
															| Course Conclusion 
															span 2hr 10min
													#collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionExample')
														.accordion-body
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 22 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 05 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 10 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 15 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-video-alt
																	h5
																		span Video :
																		|  Lorem ipsum dolor sit amet.
																.scc__meta
																	//  <span class="time"> <i class="icofont-clock-time"></i> 08 minutes</span> 
																	a(href='lesson.html')
																		span
																			i.icofont-lock
															.scc__wrap
																.scc__info
																	i.icofont-file-text
																	h5
																		span Lesson 03 Exam :
																.scc__meta
																	span
																		i.icofont-lock
																		|  20 Ques
										.tab-pane.fade.active.show#projects__one(role='tabpanel', aria-labelledby='projects__one')
											.experence__heading
												h5 Experience Description
											.experence__description
												p.description__1.
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vestibulum Phasellus rhoncus, dolor eget viverra pretium, dolor tellus aliquet nunc, vitae ultricies erat elit eu lacus. Vestibulum non justo consectetur, cursus ante, tincidunt sapien. Nulla quis diam sit amet turpis interdum accumsan quis nec enim. Vivamus faucibus ex sed nibh egestas elementum. Mauris et bibendum dui. Aenean consequat pulvinar luctus
													
												p.description__2.
													We have covered many special events such as fireworks, fairs, parades, races, walks, awards ceremonies, fashion shows, sporting events, and even a memorial service.
													
												p.description__3.
													
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vestibulum Phasellus rhoncus, dolor eget viverra pretium, dolor tellus aliquet nunc, vitae ultricies erat elit eu lacus. Vestibulum non justo consectetur, cursus ante, tincidunt sapien. Nulla quis diam sit amet turpis interdum accumsan quis nec enim. Vivamus faucibus ex sed nibh egestas elementum. Mauris et bibendum dui. Aenean consequat pulvinar luctus.
										.tab-pane.fade#projects__three(role='tabpanel', aria-labelledby='projects__three')
											.row
												.col-lg-4
													.review__box
														.review__number 5.0
														.review__icon
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
														span (17 Reviews)
												.col-lg-8.col--30
													.review__wrapper
														.single__progress__bar
															.rating__text
																| 5 
																i.icofont-star
															.progress
																.progress-bar(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
															span.rating-value 10
														.single__progress__bar
															.rating__text
																| 4 
																i.icofont-star
															.progress
																.progress-bar(role='progressbar', style='width: 80%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
															span.rating-value 5
														.single__progress__bar
															.rating__text
																| 3 
																i.icofont-star
															.progress
																.progress-bar(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
															span.rating-value 3
														.single__progress__bar
															.rating__text
																| 2 
																i.icofont-star
															.progress
																.progress-bar(role='progressbar', style='width: 30%', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100')
															span.rating-value 2
														.single__progress__bar
															.rating__text
																| 1 
																i.icofont-star
															.progress
																.progress-bar(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
															span.rating-value 1
											.property__facts__feature.property__facts__feature__2
												h4 Customer Reviews
												ul.property__comment
													li.property__comment__list
														.property__comment__img
															img(src='img/teacher/teacher__2.png', alt='Image')
														.property__comment__comment
															h6
																a(href='#') Adam Smit
															.property__sidebar__icon
																ul
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.
															span.property__comment__reply__btn September 2, 2023
													li.property__comment__list
														.property__comment__img
															img(src='img/teacher/teacher__1.png', alt='Image')
														.property__comment__comment
															h6
																a(href='#') Adam Smit
															.property__sidebar__icon
																ul
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.
															span.property__comment__reply__btn September 2, 2023
													li.property__comment__list
														.property__comment__img
															img(src='img/teacher/teacher__3.png', alt='Image')
														.property__comment__comment
															h6
																a(href='#') Adam Smit
															.property__sidebar__icon
																ul
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
																	li
																		i.icofont-star
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.
															span.property__comment__reply__btn September 2, 2023
											form.add__a__review__wrapper(action='#')
												h4 Add a Review
												.add__a__review
													h6 Your Ratings:
													.property__sidebar__icon
														ul
															li
																i.icofont-star
															li
																i.icofont-star
															li
																i.icofont-star
															li
																i.icofont-star
															li
																i.icofont-star
												.add__a__review__input
													textarea(placeholder='Type your comments....')
												.add__a__review__input
													input(type='text', placeholder='Type your name....')
												.add__a__review__input
													input(type='email', placeholder='Type your email....')
												.add__a__review__input
													input(type='text', name='website', placeholder='Type your website....')
												label.mb-0
													input(type='checkbox', name='agree')
													|  Save my name, email, and website in this browser for the next time I comment.
												.add__a__review__button
													button.default__button(type='submit') Submit
										.tab-pane.fade#projects__four(role='tabpanel', aria-labelledby='projects__four')
											.blogsidebar__content__wraper__2.tab__instructor
												.blogsidebar__content__inner__2
													.blogsidebar__img__2
														img(src='img/blog/blog_10.png', alt='blog')
													.tab__instructor__inner
														.blogsidebar__name__2
															h5
																a(href='#') Rosalina D. Willaim
															p Blogger/Photographer
														.blog__sidebar__text__2
															p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
														.blogsidbar__icon__2
															ul
																li
																	a(href='#')
																		i.icofont-facebook
																li
																	a(href='#')
																		i.icofont-youtube-play
																li
																	a(href='#')
																		i.icofont-instagram
																li
																	a(href='#')
																		i.icofont-twitter
								.course__list__wraper(data-aos='fade-up')
									.blog__details__heading__2
										h5 Why search Is Important ?
									.aboutarea__list__2.blog__details__list__2(data-aos='fade-up')
										ul
											li
												i.icofont-check
												p Lorem Ipsum is simply dummying text of the printing andtypesetting industry most of the standard.
											li
												i.icofont-check
												p Lorem Ipsum is simply dummying text of the printing andtypesetting industry most of the standard.
											li
												i.icofont-check
												p Lorem Ipsum is simply dummying text of the printing andtypesetting industry most of the standard.
											li
												i.icofont-check
												p Lorem Ipsum is simply dummying text of the printing andtypesetting industry most of the standard.
								.blog__details__tag(data-aos='fade-up')
									ul
										li.heading__tag.
											
											Tag
											
										li
											a(href='#') Business
										li
											a(href='#') Design
										li
											a(href='#') apps
										li
											a(href='#') data
									ul.share__list
										li.heading__tag.
											
											Share
											
										li
											a(href='#')
												i.icofont-twitter
										li
											a(href='#')
												i.icofont-facebook
										li
											a(href='#')
												i.icofont-instagram
								.online__course__wrap
									.instructor__heading__2(data-aos='fade-up')
										h3 Author More Courses
										a(href='course.html') More Courses...
									.row.instructor__slider__active.row__custom__class(data-aos='fade-up')
										.col-xl-6.column__custom__class
											.gridarea__wraper
												.gridarea__img
													a(href='course-details.html')
														img(src='img/grid/grid_1.png', alt='grid')
													.gridarea__small__button
														.grid__badge Data & Tech
													.gridarea__small__icon
														a(href='#')
															i.icofont-heart-alt
												.gridarea__content
													.gridarea__list
														ul
															li
																i.icofont-book-alt
																|  23 Lesson

															li
																i.icofont-clock-time
																|  1 hr 30 min

													.gridarea__heading
														h3
															a(href='course-details.html') Foundation course to under stand about softwere
													.gridarea__price
														| $32.00 
														del / $67.00
														span
															del.del__2 Free
													.gridarea__bottom
														a(href='instructor-details.html')
															.gridarea__small__img
																img(src='img/grid/grid_small_1.jpg', alt='grid')
																.gridarea__small__content
																	h6 Micle Jhon
														.gridarea__star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															span (44)
										.col-xl-6.column__custom__class
											.gridarea__wraper
												.gridarea__img
													img(src='img/grid/grid_2.png', alt='grid')
													.gridarea__small__button
														.grid__badge.blue__color Mechanical
													.gridarea__small__icon
														a(href='#')
															i.icofont-heart-alt
												.gridarea__content
													.gridarea__list
														ul
															li
																i.icofont-book-alt
																|  29 Lesson

															li
																i.icofont-clock-time
																|  2 hr 10 min

													.gridarea__heading
														h3
															a(href='#') Nidnies course to under stand about softwere
													.gridarea__price.green__color
														| $32.00
														del /$67.00
														span .Free
													.gridarea__bottom
														a(href='instructor-details.html')
															.gridarea__small__img
																img(src='img/grid/grid_small_2.jpg', alt='grid')
																.gridarea__small__content
																	h6 Rinis Jhon
														.gridarea__star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															span (44)
										.col-xl-6.column__custom__class
											.gridarea__wraper
												.gridarea__img
													a(href='course-details.html')
														img(src='img/grid/grid_1.png', alt='grid')
													.gridarea__small__button
														.grid__badge Data & Tech
													.gridarea__small__icon
														a(href='#')
															i.icofont-heart-alt
												.gridarea__content
													.gridarea__list
														ul
															li
																i.icofont-book-alt
																|  23 Lesson

															li
																i.icofont-clock-time
																|  1 hr 30 min

													.gridarea__heading
														h3
															a(href='course-details.html') Foundation course to under stand about softwere
													.gridarea__price
														| $32.00 
														del / $67.00
														span
															del.del__2 Free
													.gridarea__bottom
														a(href='instructor-details.html')
															.gridarea__small__img
																img(src='img/grid/grid_small_1.jpg', alt='grid')
																.gridarea__small__content
																	h6 Micle Jhon
														.gridarea__star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															span (44)
										.col-xl-6.column__custom__class
											.gridarea__wraper
												.gridarea__img
													img(src='img/grid/grid_2.png', alt='grid')
													.gridarea__small__button
														.grid__badge.blue__color Mechanical
													.gridarea__small__icon
														a(href='#')
															i.icofont-heart-alt
												.gridarea__content
													.gridarea__list
														ul
															li
																i.icofont-book-alt
																|  29 Lesson

															li
																i.icofont-clock-time
																|  2 hr 10 min

													.gridarea__heading
														h3
															a(href='#') Nidnies course to under stand about softwere
													.gridarea__price.green__color
														| $32.00
														del /$67.00
														span .Free
													.gridarea__bottom
														a(href='instructor-details.html')
															.gridarea__small__img
																img(src='img/grid/grid_small_2.jpg', alt='grid')
																.gridarea__small__content
																	h6 Rinis Jhon
														.gridarea__star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															i.icofont-star
															span (44)
								.blog__details__comment
									.blog__details__comment__heading(data-aos='fade-up')
										h5 (04) Comment
									.blog__details__comment__inner(data-aos='fade-up')
										.author__img
											img(src='img/blog-details/blog-details__1.png', alt='author')
										.author__content
											.author__name
												h6
													a(href='#') Rohan De Spond
												p 25 january 2023
											.author__text
												p There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have
										.author__icon
											button
												svg(width='26', height='19', viewBox='0 0 26 19', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z', fill='#121416')
									.blog__details__comment__inner.author__padding__left(data-aos='fade-up')
										.author__img
											img(src='img/blog-details/blog-details__2.png', alt='author')
										.author__content
											.author__name
												h6
													a(href='#') Rohan De Spond
												p 25 january 2023
											.author__text
												p There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have
										.author__icon
											button
												svg(width='26', height='19', viewBox='0 0 26 19', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z', fill='#121416')
									.blog__details__comment__inner(data-aos='fade-up')
										.author__img
											img(src='img/blog-details/blog-details__3.png', alt='author')
										.author__content
											.author__name
												h6
													a(href='#') Rohan De Spond
												p 25 january 2023
											.author__text
												p There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have
										.author__icon
											button
												svg(width='26', height='19', viewBox='0 0 26 19', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z', fill='#121416')
									.blog__details__comment__inner.author__padding__left(data-aos='fade-up')
										.author__img
											img(src='img/blog-details/blog-details__4.png', alt='author')
										.author__content
											.author__name
												h6
													a(href='#') Rohan De Spond
												p 25 january 2023
											.author__text
												p There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have
										.author__icon
											button
												svg(width='26', height='19', viewBox='0 0 26 19', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M5.91943 10.2031L12.1694 16.4531C13.3413 17.625 15.3726 16.8047 15.3726 15.125V12.3516C19.9819 12.5469 20.0991 13.5625 19.4351 15.8672C18.9272 17.5469 20.8413 18.9141 22.2866 17.9375C24.2788 16.5703 25.3726 14.8516 25.3726 12.3516C25.3726 6.76562 20.3726 5.67188 15.3726 5.47656V2.66406C15.3726 0.984375 13.3413 0.164062 12.1694 1.33594L5.91943 7.58594C5.17725 8.28906 5.17725 9.5 5.91943 10.2031ZM7.24756 8.875L13.4976 2.625V7.3125C18.1851 7.3125 23.4976 7.58594 23.4976 12.3516C23.4976 14.5391 22.3647 15.6328 21.2319 16.375C22.8335 11.0625 18.8491 10.4375 13.4976 10.4375V15.125L7.24756 8.875ZM0.919434 7.58594C0.177246 8.28906 0.177246 9.5 0.919434 10.2031L7.16943 16.4531C7.95068 17.2734 9.12256 17.1562 9.82568 16.4531L2.24756 8.875L9.82568 1.33594C9.12256 0.632812 7.95068 0.515625 7.16943 1.33594L0.919434 7.58594Z', fill='#121416')
								.blog__details__form
									.blog__details__input__heading(data-aos='fade-up')
										h5 Write your comment
									.row
										.col-xl-6(data-aos='fade-up')
											.blog__details__input
												input(type='text', placeholder='Enter your name*')
										.col-xl-6(data-aos='fade-up')
											.blog__details__input
												input(type='text', placeholder='Enter your mail**')
										.col-xl-6(data-aos='fade-up')
											.blog__details__input
												input(type='text', placeholder='Enter your  number*')
										.col-xl-6(data-aos='fade-up')
											.blog__details__input
												input(type='text', placeholder='Website*')
										.col-xl-12(data-aos='fade-up')
											.blog__details__input
												textarea(cols='30', rows='10') Enter your Massage*
									.blog__check__box(data-aos='fade-up')
										input(type='checkbox', checked)
										|  Save my name, email, and website in this browser for the next time I comment.

								.blog__details__button(data-aos='fade-up')
									a.default__button(href='#') Post a Comment
						.col-xl-4.col-lg-4
							.course__details__sidebar--2
								.event__sidebar__wraper(data-aos='fade-up')
									.blogarae__img__2.course__details__img__2(data-aos='fade-up')
										img(src='img/blog/blog_7.png', alt='blog')
										.registerarea__content.course__details__video
											.registerarea__video
												.video__pop__btn
													a.video-btn(href='https://www.youtube.com/watch?v=vHdclsdkp28')
														img(src='img/icon/video.png', alt)
									.event__price__wraper
										.event__price
											| $32.00 
											del / $67.00
										.event__Price__button
											a(href='#') 68% OFF
									.course__summery__button
										a.default__button(href='#') Add To Cart
										a.default__button.default__button--2(href='#') Buy Now
										span
											i.icofont-ui-rotation
											| 45-Days Money-Back Guarantee

									.course__summery__lists
										ul
											li
												.course__summery__item
													span.sb_label Instructor:
													span.sb_content
														a(href='instructor-details.html') D. Willaim
											li
												.course__summery__item
													span.sb_label Start Date
													span.sb_content 05 Dec 2024
											li
												.course__summery__item
													span.sb_label Total Duration
													span.sb_content 08Hrs 32Min
											li
												.course__summery__item
													span.sb_label Enrolled
													span.sb_content 100
											li
												.course__summery__item
													span.sb_label Lectures
													span.sb_content 30
											li
												.course__summery__item
													span.sb_label Skill Level
													span.sb_content Basic
											li
												.course__summery__item
													span.sb_label Language
													span.sb_content Spanish
											li
												.course__summery__item
													span.sb_label Quiz
													span.sb_content Yes
											li
												.course__summery__item
													span.sb_label Certificate
													span.sb_content Yes
									.course__summery__button
										p More inquery about course.
										a.default__button.default__button--3(href='tel:+4733378901')
											i.icofont-phone
											|  +47 333 78 901
								.blogsidebar__content__wraper__2(data-aos='fade-up')
									h4.sidebar__title Follow Us
									.follow__icon
										ul
											li
												a(href='#')
													i.icofont-facebook
											li
												a(href='#')
													i.icofont-youtube-play
											li
												a(href='#')
													i.icofont-instagram
											li
												a(href='#')
													i.icofont-twitter
											li
												a(href='#')
													i.icofont-instagram
								.blogsidebar__content__wraper__2(data-aos='fade-up')
									h4.sidebar__title Populer Course
									ul.course__details__populer__list
										li
											.course__details__populer__img
												img(src='img/blog-details/blog-details__6.png', alt='populer')
											.course__details__populer__content
												span $32,000
												h6
													a(href='#') Making Music with Other People
										li
											.course__details__populer__img
												img(src='img/blog-details/blog-details__7.png', alt='populer')
											.course__details__populer__content
												span $32,000
												h6
													a(href='#') Making Music with Other People
										li
											.course__details__populer__img
												img(src='img/blog-details/blog-details__8.png', alt='populer')
											.course__details__populer__content
												span $32,000
												h6
													a(href='#') Making Music with Other People
								.blogsidebar__content__wraper__2(data-aos='fade-up')
									h4.sidebar__title Get in Touch
									.get__touch__input
										input(type='text', placeholder='Enter name*')
										input(type='text', placeholder='Enter your mail*')
										input(type='text', placeholder='Massage*')
										a.default__button(href='blog-details.html') SEND MASSAGE
								.blogsidebar__content__wraper__2(data-aos='fade-up')
									h4.sidebar__title Popular tag
									.populer__tag__list
										ul
											li
												a(href='blog-details.html') Business
											li
												a(href='blog-details.html') Design
											li
												a(href='blog-details.html') apps
											li
												a(href='blog-details.html') landing page
											li
												a(href='blog-details.html') data
											li
												a(href='blog-details.html') book
											li
												a(href='blog-details.html') Design
											li
												a(href='blog-details.html') book
											li
												a(href='blog-details.html') landing page
											li
												a(href='blog-details.html') data
			//  footer__section__start 
			.footerarea
				.container
					.footerarea__newsletter__wraper
						.row
							.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12(data-aos='fade-up')
								.footerarea__text
									h3
										| Still You Need Our 
										span Support
										|  ?
									p Don’t wait make a smart & logical quote here. Its pretty easy.
							.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12(data-aos='fade-up')
								.footerarea__newsletter
									.footerarea__newsletter__input
										form(action='#')
											input(type='text', placeholder='Enter your email here')
											.footerarea__newsletter__button
												button.subscribe__btn(type='submit') Subscribe Now
					.footerarea__wrapper.footerarea__wrapper__2
						.row
							.col-xl-4.col-lg-4.col-sm-12.col-md-12(data-aos='fade-up')
								.footerarea__inner.footerarea__about__us
									.footerarea__heading
										h3 About us
									.footerarea__content
										p orporate clients and leisure travelers has been relying on Groundlink for dependable safe, and professional chauffeured car end service in major cities across World.
									.foter__bottom__text
										.footer__bottom__icon
											i.icofont-clock-time
										.footer__bottom__content
											h6 Opening Houres
											span Mon - Sat(8.00 - 6.00)
											span Sunday - Closed
							.col-xl-2.col-lg-2.col-sm-6.col-md-6(data-aos='fade-up')
								.footerarea__inner
									.footerarea__heading
										h3 Usefull Links
									.footerarea__list
										ul
											li
												a(href='#') About Us
											li
												a(href='#') Teachers
											li
												a(href='#') Partner
											li
												a(href='#') Room-Details
											li
												a(href='#') Gallery
							.col-xl-3.col-lg-3.col-sm-6.col-md-6(data-aos='fade-up')
								.footerarea__inner.footerarea__padding__left
									.footerarea__heading
										h3 Course
									.footerarea__list
										ul
											li
												a(href='#') Ui Ux Design
											li
												a(href='#') Web Development
											li
												a(href='#') Business Strategy
											li
												a(href='#') Softwere Development
											li
												a(href='#') Business English
							.col-xl-3.col-lg-3.col-sm-12(data-aos='fade-up')
								.footerarea__right__wraper.footerarea__inner
									.footerarea__heading
										h3 Recent Post
									.footerarea__right__list
										ul
											li
												a(href='#')
													.footerarea__right__img
														img(src='img/footer/footer__1.png', alt='footerphoto')
													.footerarea__right__content
														span 02 Apr 2023 
														h6 Best Your Business
											li
												a(href='#')
													.footerarea__right__img
														img(src='img/footer/footer__2.png', alt='footerphoto')
													.footerarea__right__content
														span 02 Apr 2023 
														h6 Keep Your Business
											li
												a(href='#')
													.footerarea__right__img
														img(src='img/footer/footer__3.png', alt='footerphoto')
													.footerarea__right__content
														span 02 Apr 2023 
														h6 Nice Your Business
					.footerarea__copyright__wrapper.footerarea__copyright__wrapper__2
						.row
							.col-xl-3.col-lg-3
								.copyright__logo
									a(href='/')
										img(src='img/logo/logo_2.png', alt='logo')
							.col-xl-6.col-lg-6
								.footerarea__copyright__content.footerarea__copyright__content__2
									p
										| Copyright © 
										span 2023
										|  by edurock. All Rights Reserved.
							.col-xl-3.col-lg-3
								.footerarea__icon.footerarea__icon__2
									ul
										li
											a(href='//facebook.com')
												i.icofont-facebook
										li
											a(href='//twitter.com')
												i.icofont-twitter
										li
											a(href='//vimeo.com')
												i.icofont-vimeo
										li
											a(href='//linkedin.com')
												i.icofont-linkedin
										li
											a(href='//skype.com')
												i.icofont-skype
			//  footer__section__end 
		//  JS here 
		script(src='js/vendor/modernizr-3.5.0.min.js')
		script(src='js/vendor/jquery-3.6.0.min.js')
		script(src='js/popper.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/isotope.pkgd.min.js')
		script(src='js/slick.min.js')
		script(src='js/jquery.meanmenu.min.js')
		script(src='js/ajax-form.js')
		script(src='js/wow.min.js')
		script(src='js/jquery.scrollUp.min.js')
		script(src='js/imagesloaded.pkgd.min.js')
		script(src='js/jquery.magnific-popup.min.js')
		script(src='js/waypoints.min.js')
		script(src='js/jquery.counterup.min.js')
		script(src='js/plugins.js')
		script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
		script(src='js/main.js')
		script.
			
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
			          document.getElementById("light--to-dark-button")?.classList.add("dark--mode");
			        } 
			        if (localStorage.getItem("theme-color") === "light") {
			          document.getElementById("light--to-dark-button")?.classList.remove("dark--mode");
			        }
			